<!-- Slide 1 -->
<div class="item active">
<%= image_tag "1.jpg" %>
</div>

<!-- Slide 2 -->
<div class="item">
<%= image_tag "2.jpg" %>
</div>

<!-- Slide 3 -->
<div class="item">
<%= image_tag "3.png" %>
</div>



<!--
<ol class="carousel-indicators">
<li data-target="#my-pics" data-slide-to="0" class="active"></li>
<li data-target="#my-pics" data-slide-to="1"></li>
<li data-target="#my-pics" data-slide-to="2"></li>
</ol>
-->