<h3>Little Bit Back</h3>
<style>
	img.bg {
	  min-width: 1024px;
	  width: auto;
	  height: 100%;
	  position: fixed;
	  top: 0;
	  left: 0;
	  opacity: .7;
	}
	@media screen and (max-width: 1024px) {
	  img.bg {
	    left: 50%;
	    margin-left: -512px;
	  }
	}
</style>



<p align = "center" style = "position: absolute; top: 1em; font-family: Times New Roman; font-size: 34px;">Bitcoin is power in numbers</p>

<img src = "http://phloatingman.com/sites/default/files/bitcoin-strength/bitcoin_strength.svg" class = 'bg'  alt = 'nope'>
