<style>
	tr.row {
		border-bottom: 1px solid black;
		margin-top: 5px;
	}
	td#thumbnail{
		margin-top: 5px;
	}

	td#details {
		display:inline;
	}

	td#goal_zone {
		text-align:right;
	}
</style>

<table>
	<tbody>
		<% @campaigns.each do |c| %>
			<tr class = 'row border_bottom'>
				<td class = "thumbnail">
					<%= image_tag "cover_images/#{c.id}.png"%>
				</td>
				<td class = "details">
					<%= link_to c.title, show_campaign_path(c.title)%><br>
					Posted by:
				</td>
				<td class = "goal_zone">
					Goal:<%= c.goal %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>