
<%= params[:title]%>

<br><br>
<p align="right"><legend>Donation Info </legend><br>Current Bitcoin exchange rate: <%= @current_bitcoin_price %><br>Accepts: <%= @campaign.preferred_currency %><br>Page views: <%= @campaign.views%> </p>